body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 1.1;
    color: #192b59;
    max-width: 540px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
    color: #192b59;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.title-40 {
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    line-height: 1.2;
    color: #192b59;
}

.title-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 20px;
}

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.page-subscribe .title-h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.page-subscribe .title-h2 span {
    font-size: 14px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/logo.png);
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0px 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}

/* Button */

.btn-primary {
    color:#fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 41px;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    color:#7e8bae;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 41px;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
    
}

.btn-info {
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.btn-group a + a {
    margin-left: 15px;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}

.list-company-item {
    display: block;
}

.company-one {
    background-image: url(../img/token.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../img/magneto.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../img/boohoo.png);
    flex-basis: 201px;;
    height: 47px;
}

.company-four {
    background-image: url(../img/fractal.png);
    flex-basis: 200px;
    height: 69px;
}

/* page-header */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}   

/* page-company */

.page-company {
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}

/* page-grid */

.grid {
    display: grid;
    grid-template-areas: "a b c"
                        "d b c"
                        "d f g"
                        "e f g"
                        "e h h";
    max-width: 1110px;
    margin: 0 auto;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-item {
    text-align: center;
    box-shadow: 0 0 5px #f4f4f4;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
}

.grid-icon-1 {
    background-image: url(../img/paper.png);
    width: 89px;
    height: 85px;
}
.grid-icon-2 {
    background-image: url(../img/tools.png);
    width: 73px;
    height: 79px;
}
.grid-icon-3 {
    background-image: url(../img/handtel.png);
    width: 79px;
    height: 82px;
}
.grid-icon-4 {
    background-image: url(../img/gear.png);
    width: 103px;
    height: 92px;
}
.grid-icon-5 {
    background-image: url(../img/comp.png);
    width: 85px;
    height: 90px;
}
.grid-icon-6 {
    background-image: url(../img/headphone.png);
    width: 100px;
    height: 87px;
}

/* page-subscribe */

.page-subscribe {
    padding: 25px 0 28px 0;
    color: #fff;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-subscribe h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.page-subscribe h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.page-subscribe p {
    color: #fff;    
}

/* page-stat */

.page-stat h2 span {
    color:#1085e4;
    text-transform: uppercase;
    display: block;
}

.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 76px;

}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.7px;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
}

.list-stat>li>span {
    display: block;
    font-size: 50px;
    letter-spacing: 0;
    color: #bacbdc;
    margin-bottom: 23px;
}

.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 116px 0px 96px 0px;
}

.page-plan, .page-screen {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0 0;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}

.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff; 
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item:first-child h3 {
    margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    color: #fff;
    background-color: #192b59;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/triangle.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe-text {
    font-size: 18px;
    max-width: 437px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-child {
    flex-basis: 49%;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    color: #fff;
    font-size: 14px;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 50px;
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}

.box-subscribe-user input::-webkit-input-placeholder {color: #b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color: #b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color: #b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color: #b1c3ee;}

